/* home page design */
/* 
.search-container{
  position: relative;
}

.prev-btn{
position: absolute;
} */

.container-1 {
  padding: 10px !important;
}

.form-label {
  text-align: center;
  padding: 10px;
}

.search-container-1 input {
  margin: 10px;

  max-width: 280px;
}

.save-container {
  display: flex;
  justify-content: space-around;
}

.save-container .save-btn {
  width: 100px !important;
}

.left-btn svg,
.right-btn svg {
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
  color: green;

  padding: 2px;
  cursor: pointer;
}

.search-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding:20px; */
}

.search-btn-container .search-btn {

  width: 150px !important;


}

.search-btn-container .search-btn,
.left-btn {
  width: 30px;

}